.show-details,
.greetings,.heading-view {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2%;
  border: 1px solid #000;
  margin: 2%;
  border-radius: 15px;
}

.greetings form {
  display: flex;
  justify-content: space-around;
  margin: 1%;
  padding: 1%;
  width: 80%;
}

.greetings input {
  padding: 2%;
  outline: none;
  border-radius: 10px;
  width: 60%;
  margin: 2%;
}

.greetings button {
  padding: 1%;
  outline: none;
  border: none;
  border-radius: 10px;
  width: 20%;
  cursor: pointer;
}

.greetings button:hover {
  transform: scale(1.1);
}
.greetings button:active {
  transform: scale(0.9);
}

.heading .field {
  font-weight: 700;
}

.fields {
  display: flex;
  justify-content: space-around;
  width: 80%;
  margin: 5px;
}

.fields .field {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  margin: 2px 2px;
  padding: 2%;
  border: 1px solid #000;
  border-radius: 15px;
}
